/* ================================
    Base Element Styles
   ================================ */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  color: #777;
  background-color: #f5f5f5;
  background-image: url("../images/background-grunge.png");
}

h1, h2, h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

h2, h3 {
  color: #4aaaa5;
  border-bottom: 2px solid #ddd;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #fff;
  background-color: #4aaaa5;
  padding: 15px 0;
  margin-bottom: 15px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
}

h2 {
  font-size: 1.4rem;
  padding-bottom: 10px;  
}

h3 {
  font-size: 1.2rem;
    padding-bottom: 15px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

p {
  padding-bottom: 10px;
  line-height: 1.2;
}

/* ================================
    Base Layout Styles
   ================================ */

/* --------- Navigation -------- */

.page-links {
  display: block;
  width: 94px;
  line-height: 1.75;
  font-size: 1.1rem;
  color: #777;
  transition: background-color 0.4s ease-out;
}

.page-links.active {
  color: #4aaaa5;
}

.page-links:hover {
  background-color: #f5f5f5;
}

/* ----- Layout Containers ----- */

main {
  flex-grow: 1;
  max-width: 960px;
  margin: 0 auto;
}

section {
  text-align: left;
  background-color: #fff;
  margin: 15px 15px 50px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

section:last-child {
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: -fit-content;
}

section div {
  padding-top: 15px;
}

.social-links-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 180px;
  justify-content: space-around;
}

footer {
  font-size: 0.75rem;
  color: lightgray;
  background-color: #666;
  border-top: 10px solid #4aaaa5;
  padding: 20px 0;
  box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.25);
}

/* ------- Page Elements ------- */

#profile-image {
  float: left;
  width: 120px;
  height: auto;
  padding-right: 10px;
}

.social-images {
  width: 48px;
  transition: transform 0.4s ease-out;
}

.social-images:hover {
  transform: scale(1.15);
}

#copyright {
  padding: 0;
}

/* ================================
    Media Queries
   ================================ */

@media (min-width: 600px) {
  
  /* ================================
    Base Element Styles
   ================================ */
  
  h1 {
    width: 220px;
    font-size: 1.7rem;
    letter-spacing: 2px;
    padding: 25px 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.3;
  }
  
  /* ================================
    Base Layout Styles
   ================================ */

  /* --------- Navigation -------- */
  
  .page-links:hover {
    background-color: #e6e6e6;
  }
  
  
  /* ----- Layout Containers ----- */
  
  header {
    background-color: #fff;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 25px;
  }
  
  section {
    margin: 50px 25px;
    padding: 25px;
  }
  
  footer {
    font-size: 0.9rem;
    padding: 30px 0;
  }
  
  /* ------- Page Elements ------- */
  
  #profile-image {
    width: 185px;
    padding-right: 10px;
  }
  
  .social-images {
    width: 64px;
  }
  
  .social-images:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 800px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  
  .social-images {
    margin-bottom: 10px;
  }
}